.textarea-descriptor {
        width: 600px;
        height: 300px;
    }

.ddl-setores {
    width: 400px;
}

input[type="text"] {
    width: 400px;
}

/*.div-loading-categorias {
    display: none;
}*/

.div-label-info {
    display: inline-block
}