@model IDictionary<string, string>
           
<div class="col-sm-3 col-md-2 sidebar menu-esquerdo">
    <ul class="nav nav-sidebar nav-menu">
        <li><a href="#">Home</a></li>
        <li>
            <a href="@Url.Action("Index", "Chamados")">Chamados</a>
            <ul class="nav-sidebar">
                <li><a href="#">Meus Chamados</a></li>
                <li><a href="#">Do Setor</a></li>
                <li><a href="#">Todos</a></li>
            </ul>
        </li>

        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("Index",item.Key)">@item.Value</a></li>
        }
    </ul>
</div>
