/* MENU ESQUERDO (Sidebar)*/

.menu-esquerdo {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    height: 580px;
    margin-top: 0;
    padding-right: 0;
}

.menu-active {
    background-color: #428bca;
    color: white;
}

.nav-menu > li {
    height: 25px;
    margin-bottom: 5px;
}

.menu-item-chamados {
    padding-bottom: 95px;
}

/* CABEÇALHOS DE TABELA */

.th-buttons {
    width: 6%;
}

.th-email {
    width: 40%;
}

/* OUTROS */

hr {
    border-top: 1px solid #E0D7D7;
    margin-top: 10px;
}

.div-left {
    float: left;
    overflow: hidden;
    width: 50%;
}

.div-right {
    float: right;
    overflow: hidden;
    width: 49%;
}

.btn-groupped {
    margin-right: 2px;
}