@model IEnumerable<SistemaDeChamados.Application.ViewModels.AnalistaVM>

@{
    ViewBag.Title = "IndexAsync";
}

<div class="title">
    <h3>Listagem de Analistas</h3><hr />
</div>
<a href="@Url.Action("Novo")" class="btn btn-primary" style="margin-bottom: 10px; margin-top: 10px"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
<table class="table table-condensed table-bordered">
    <tr>
        <th class="th-buttons"></th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="table-actions">
                @Html.GroupedActionButtons("Analistas", item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
        </tr>
    }

</table>

