@model SistemaDeChamados.Application.ViewModels.PaggingVM

<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">@Model.PaginaAtual</a></li>
        <li><a href="@Url.Action("IndexAsync", Model.Controller, new {pagina = @Model.PaginaAtual + 1})">@(Model.PaginaAtual + 1)</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
