.ultimos-chamados-table > tbody > tr > td:first-child {
    width: 60px;
}

.dashboard-title {
    text-align: center;
    font-family: Segoe UI;
}

.ultimos-chamados-table > thead {
    text-align: center;
    font-weight: bold;
}