
@{
    ViewBag.Title = "Index";
}

<h2>Meus Chamados</h2>
<div style="margin-top: 100px">
    <table class="table table-condensed">
        <thead>
            <tr>
                <td>Data</td>
                <td>Descrição</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>19/06</td>
                <td>adfçdk sçkf çskfçkdsç lk</td>
            </tr>
        </tbody>
    </table>
</div>
